<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description"
	content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
<meta name="author" content="Coderthemes">

<link rel="shortcut icon" href="assets/images/favicon_1.ico">

<title>Change Password</title>

<link href="assets/css/bootstrap.min.css" rel="stylesheet"
	type="text/css">
<link href="assets/css/core.css" rel="stylesheet" type="text/css">
<link href="assets/css/icons.css" rel="stylesheet" type="text/css">
<link href="assets/css/components.css" rel="stylesheet" type="text/css">
<link href="assets/css/pages.css" rel="stylesheet" type="text/css">
<link href="assets/css/menu.css" rel="stylesheet" type="text/css">
<link href="assets/css/responsive.css" rel="stylesheet" type="text/css">

<script src="assets/js/modernizr.min.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->


</head>
<body ng-app="siem">


	<div class="wrapper-page" ng-controller="settings as ctrl">

		<div class="text-center">
			<a href="index.html" class="logo-lg"><i class="md md-equalizer"></i>
				<span>SiEM</span> </a>
		</div>
		
		<script type="text/ng-template" id="alert.html">
    				<div ng-transclude></div>
  			</script>
	

		<form class="form-horizontal" role="form" ng-submit="changePasswordAfterLogin()" name="alertsForm" style="width: 200%" >	
		
				<div uib-alert ng-repeat="alert in ctrl.alertMessagaes"
						class="alert" ng-class="'alert-' + (alert.type || 'warning')"
						close="closeAlert($index)">{{alert.msg}}</div>
					
					
					<div class="row">
						<div class="col-md-6">
							<div class="col-md-12">
								<div class="form-group">
									<label for="field-1" class="control-label">Current
										Password</label> <input type="password" ng-model="userSettings.password" class="form-control" id="field-1" required="required">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label for="field-2" class="control-label">New Password</label>
									<input type="password" ng-model="userSettings.newPassword" class="form-control"
										id="field-2" required="required">
								</div>
							</div>

							
								<div class="col-md-12">
									<div class="form-group">
										<label for="field-3" class="control-label">Confirm
											Password</label> <input type="password" ng-model="userSettings.confirmPassword"  class="form-control"
											id="field-3" required="required">
									</div>
								</div>
							
						</div>
					
					<div class="col-md-6">
						<ul>
							<li>Minimum 8 characters</li>
							<li>Maximum 32 characters</li>
							<li>Lowercase letter (a-z)</li>
							<li>Uppercase letter (A-Z)</li>
							<li>Number (0-9)</li>
							<li>Special characters</li>
							<li>Both passwords match</li>

						</ul>
					</div>

	</div>

				
				<div class="modal-footer">
					
					<button type="submit" class="btn btn-info waves-effect waves-light">Save changes</button>
				</div>
				
</form>
</div>


	<script>
            var resizefunc = [];
        </script>

	<!-- Main  -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/detect.js"></script>
	<script src="assets/js/fastclick.js"></script>
	<script src="assets/js/jquery.slimscroll.js"></script>
	<script src="assets/js/jquery.blockUI.js"></script>
	<script src="assets/js/waves.js"></script>
	<script src="assets/js/wow.min.js"></script>
	<script src="assets/js/jquery.nicescroll.js"></script>
	<script src="assets/js/jquery.scrollTo.min.js"></script>

	<!-- Custom main Js -->
	<script src="assets/js/jquery.core.js"></script>
	<script src="assets/js/jquery.app.js"></script>

	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/angular-route.js"></script>
	<script src="js/angular-animate.js"></script>
	<script src="js/angular-sanitize.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-cookies.min.js"></script>
	<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.0/ui-bootstrap-tpls.min.js"></script>
	
	<script src="js/angular-resource.min.js"></script>
	<script type="text/javascript" src="js/app.js"> </script>
	<script type="text/javascript" src="js/register-factory.js"> </script>
	<script type="text/javascript" src="js/register-controller.js"> </script>
	<script type="text/javascript" src="js/settings-factory.js"> </script>
	<script type="text/javascript" src="js/settings.js"> </script>

</body>
</html>